*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


/* Simply-Portfolio-light-theme */
body{
    background: #0C151D;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    /*background:url('') 50% cover no-repeat fixed;
    background-size: auto auto; */
}

.profile-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    background: #0C151D;
    position: absolute;
    width: 631px;
    height: 250px;
    left: 548px;
    top: 178px;
    border-radius: 20px;
}
.foto{
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px;
	font-style: 50px;
    margin: 0 0 30px 0;
    
}
.frame{
    width: 372px;
    height: 156px;
   

}
.frame h2{
    font-size: 30px;
    padding: 0 0 15px 0;
}
.frame h3{
    font-size: 25px;
    padding: 0 0 10px 0;
}
.social-networks{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 36px;

    position: inherit;
    width: 222px;
    height: 36px;
    left: 0px;
    top: 117px;
}

.profile-facts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 2px;
    gap: 90px;

    position: absolute;
    width: 634px;
    height: 142px;
    left: 547px;
    top: 441px; 
}



/* Simply-Portfolio-dark-theme */

.profile-buttons{
    position: absolute;
    width: 618px;
    height: 80px;
    left: 555px;
    top: 630px;
}



.tabs-buttons{
    
    position: absolute;
    width: 756px;
    height: 132px;
    left: calc(50% - 756px/2);
    top: 785px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    height: 70px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(33, 33, 33) ;

}

.tabs-content{
    position: absolute;
    width: 757px;
    height: 826px;
    left: 485px;
    top: 982px;

    border-radius: 20px;
}


footer{
    width: 100%;
    height: auto;
    background-color:rgb(61, 56, 56);
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

