*{
    margin: 0;
    padding: 0;
}
/* Simply-Portfolio-light-theme */

.profile-info{
position: relative;
width: 1728px;
height: 1999px;
}
.profile-facts{
    background: #E9EBEC;
    border-radius: 20px;
}



/* Simply-Portfolio-dark-theme */

.profile-buttons{
position: relative;
width: 1728px;
height: 1999px;
}
.tabs-buttons{
background: #0C151D;
border-radius: 20px;
}

/* iPhone 11 Pro / X - 1 */


/* Auto layout 

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 0px 40px;
gap: 30px;

position: relative;
width: 376px;
height: 2286px;

background: #0C151D;
border-radius: 20px;
*/